// Descriptive color variables

$white : #ffffff;
$black : #000000;

// Theme color variables

$orange : #F7941E;
$grey : #939598;
$secondary-grey : #F1F2F2;
$blue : #0E2849;
$nav-blue : rgba(14,40,73,.9);

// Media query breakpoints

$brk-wide : '(max-width: 1024px)';
$brk-narrow : '(max-width: 768px)';
$brk-small : '(max-width: 500px)';
$brk-smaller : '(max-width: 320px)';