// Descriptive color variables

$white : #ffffff;
$black : #000000;

// Theme color variables

// Media query breakpoints

$brk-wide : '(max-width: 1024px)';
$brk-narrow : '(max-width: 768px)';
$brk-small : '(max-width: 500px)';
$brk-smaller : '(max-width: 320px)';