// Home Page

.intro-copy {
	text-align: center;

	&-wrap {
		max-width: 900px;
		margin: 0 auto;
		padding: 50px 0 35px 0;
	}

}

.single-album-row {
	padding-bottom: 75px;
}

.single-music {
	background-color: $secondary-grey;
	padding: 50px 0 70px 0;

	img {
		padding-bottom: 5px;
		padding-top: 25px
	}

	p {
		color: $grey;
		font-size: 1em;
		line-height: 25px;
		margin: 0;
		padding: 0;
	}

	a {
		color: $light-blue;
		text-decoration: none;

		&:hover {
			color: $blue;
		}
	}
}

.song-row {

	audio {
		width: 100%;
	}

	.song-title {
		font-size: 1.25em;
		color: $grey;
	}

}

.home-music {
	background-color: $secondary-grey;
	padding: 0 0 70px 0;

	img {
		padding-bottom: 15px;

		@include respond(max-width, 767px) {
			padding-top: 25px;
		}
	}

	p {
		color: $grey;
		font-size: 1em;
		line-height: 25px;
		margin: 0;
		padding: 0;
	}

	a {
		color: $light-blue;
		text-decoration: none;

		&:hover {
			color: $blue;
		}
	}

}

// Single Album Post Type
.album-detail {
	padding: 100px 0 0 0;

	h3 {
		text-transform: uppercase;
		font-size: 1.50em;
		color: $light-grey;
	}

	p {
		color: $light-grey;
	}

	a {
		color: $light-blue;

		&:hover {
			color: $blue;
		}
	}
}

.music-row {
	padding: 25px 0 25px 0;
}

// Music Page

.scroll-target {
	padding-top: 30px;
	visibility: hidden;
}

.music-intro {
	max-width: 900px;
	margin: 0 auto;
	text-align: center;
	padding: 0 0 55px 0;
}

.music {
	padding: 0 0 60px 0;
	background-color: $secondary-grey;

	a {
		color: $light-blue;
		text-decoration: none;
		text-transform: uppercase
	}

	a:hover {
		color: $blue;
	}

	img {
		padding-top: 10px;
	}
}

.music-white {
	background-color: $white;
}

.mp3Player a {
	padding-right: 10px;
}

// Removes download button from HTML5 player in Chrome version 55. If you change audio to video it will work for video players

audio::-internal-media-controls-download-button {
    display:none;
}

audio::-webkit-media-controls-enclosure {
    overflow:hidden;
}

audio::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
}

.lyrics {
	display: none;
	padding: 10px 50px;

	.fa-times {
		color: $light-blue;
		padding: 20px;
	}

	p {
		font-size: 1em;
	}

	h2 {
		font-size: 1.5625em;
	}
}

.white {
	background-color: $white;
}

.grey {
	background-color: $secondary-grey;
}

// About Page

.page-title {
	// padding: 74px 0 54px 0;
	height: 200px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
}

.photos {
	padding-bottom: 3.125em;
}

.about-intro {
	background-color: $base-grey;
	text-transform: uppercase;
	text-align: center;
	height: 192px;

	// @media #{$brk-992} {
	// 	height: 100%;
	// }

	@include respond(max-width, 992px) {
		height: 100%;
	}

	&-wrap {
		padding-top: 25px;

		@media #{$brk-992} {
			padding-bottom: 25px;
		}
	}

	p {
		color: $light-blue;
		font-size: 2.1em;
		line-height: 64px;
		margin: 0;
		padding: 0;

		@media #{$brk-600} {
			font-size: 1.50em;
			line-height: inherit;
			margin: inherit;
			padding: inherit;
		}
	}

	h2 {
		font-family: 'BenchNine', sans-serif;
		color: $light-blue;
		font-size: 4.875em;
		line-height: 71px;
		margin: 0;
		padding: 0;

		@media #{$brk-768} {
			font-size: 4em;
		}
	}

}

.about-learn-more {
	background-color: $base-grey;
	height: 485px;

	@media #{$brk-600} {
		height: 100%;
	}
}

.about-me-wrap {
	max-width: 850px;
	margin: 0 auto;
	padding: 0 0 55px 0;
	text-align: center;
}

figcaption {
	color: $grey;
	padding: 12px 0 10px 24px;
	font-size: 0.875em;
	font-style: italic;

	@media #{$brk-1200} {
		padding: 12px 0 10px 0px;
	}

	@media #{$brk-narrow} {
		text-align: center;
	}

}

// .pdf-wrap {
// 	margin: 0 auto;
// 	width: 75%;
// }

.pdf-list {
	text-align: center;

	@media #{$brk-600} {
		display: table;
		margin: 0 auto;
		padding-bottom: 25px;
		padding-left: 0px;
	}

	li {
		display: inline-block;
		margin-right: 25px;

		@media #{$brk-600} {
			margin-right: 10px;
			display: block;
		}

		img {
			max-width: 128px;
			padding-bottom: 15px;

			@include respond(max-width, 600px) {
				max-width: 100%;
			}
		}

		p {
			color: $grey;
			font-size: 1em;
			line-height: 25px;
			margin: 0;
			padding: 0;
			text-align: left;

			@media #{$brk-600} {
				text-align: center;
			}

		}

		a {
			color: $light-blue;

			&:hover {
				color: $blue;
				text-decoration: none;
			}
		}

	}

}

// Media Page


.video-wrapper {
	width: 70%;
	margin: 0 auto;
	padding: 20px 0 100px 0px;

	@include respond(max-width, 767px) {
		width: 100%;
	}
}

.photo-wrap {
	img {
		margin: 0 auto;
	}
}

.photo-row {
	padding-bottom: 25px;

	@include respond (max-width, 768px) {
		padding-bottom: 0px;
	}
}

.fancybox-title {
	text-align: center;

	a {
		color: $light-blue;

		&:hover {
			color: $blue;
		}

	}

}

// YouTube Videos

.video-info {
	text-align: center;

	h3 {
		font-size: 1.25em;
		text-transform: uppercase;
		color: $light-blue;
	}

	p {
		font-size: 0.9375em;
		color: $grey;
	}
}

.youtube-cta {
	padding: 25px 0 20px 0;
}

// Contact Page

.contact {
	background-color: $base-grey;
}

.subhead p {
	text-align: center;
	padding-bottom: 40px;
}

// Contact Form 7

.contact-wrap {
	max-width: 800px;
	margin: 52px auto 92px auto;
	background-color: $contact-form;


.small-copy-contact {
	font-size: 85%;
	text-align: center;
	padding-bottom: 25px;
}

input, select, textarea {
	color: #808080;
	font-size: 1.0625rem;
	width: 90%;
	background-color: $white;
	border: 0px;
	border-radius: 8px;
	margin-bottom: 25px;
}

div.wpcf7 {

	padding: 40px 0 0 0;

	p {
		text-align: center;
		color: #808080;
	}

}

input[placeholder], [placeholder], *[placeholder] {
	color: #808080;
	font-size: 1.0625rem;
	padding: 16px;
}

input[type="text"],
input[type="email"] {
	color: #808080;
	font-size: 1.0625rem;
	min-height: 78px;
}

input[type="submit"] {
	width: 158px;
	height: 44px;
	border: 1px solid $light-blue;
	border-radius: 0;
	color: $light-blue;
	background-color: transparent;
	font-size: 1.125rem;
	margin-bottom: 0;

	&:hover {
		-webkit-transition: ease-out 200ms;
	  -moz-transition: ease-out 200ms;
	  -o-transition: ease-out 200ms;
	  transition: ease-out 200ms;
		background-color: $blue;
		color: $white;
	}
}

.legal-contact-form {
	font-size: 0.9375em;
	text-align: center;
}

}

// WooCommerce

.single-product {
	margin-top: 0px;
}

.store {
	padding-top: 50px;
}

.woocommerce #reviews #comments h2,
.products h2 {
	font-size: 1.25em;
	letter-spacing: inherit;
}

select {
	border: 1px solid $lighter-blue;
	border-radius: 4px;
}

.woocommerce {
	#coupon_code {
		width: 150px;
	}
}

.woocommerce-billing-fields {

	input .input-text {
		border: 1px solid $light-grey;
		// background-color: $light-grey;
	}

	input[type=text],
	input[type=tel],
	input[type=email] {
		border: 1px solid $lighter-blue;
		border-radius: 4px;
		min-height: 40px;
		// color: $white;
	}

}

.woocommerce-shipping-fields {

#order_comments {
		border: 1px solid $lighter-blue;
		border-radius: 4px;
	}

}

.woocommerce button.button.alt.disabled,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce a.button.alt {
	background-color: $light-blue;

	&:hover {
		background-color: $blue;
	}
}
