// navbar

.navbar {
	text-transform: uppercase;
}

.navbar-default {
	background-color: $nav-blue;
	border-color: $nav-blue;
}

.navbar-default .navbar-brand {
	color: $orange;
	font-size: 1.125em;
	font-weight: bold;
	padding-left: 25px;
}

#menu-main {
	padding-right: 25px;

	@media #{$brk-narrow} {
		padding-right: 0px;
	}
}

 .navbar-default .navbar-brand:hover {
 	color: $white;
 }

.navbar-default .navbar-nav > li > a {
	color: $white;
}

.menu-main-container {
	font-size: 0.75em;
	font-weight: bold;
}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav > .active > a:hover {
	color: $orange;
}

// Dropdown Menu

.navbar-nav > li > .dropdown-menu {
	background-color: rgba(255,255,255,.7);
	border-radius: 0px;
}

.dropdown-menu > li > a:hover {
	background-color: transparent;
	color: $orange;
}

.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
	background-color: transparent;
	color: $orange;
}

.dropdown-menu > .active > a {
	background-color: transparent;
	color: $blue;
}


// Hero background images and copy

.hero-header {
	background-size: cover;
	background-position: 0px -200px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 450px;

	@media #{$brk-small} {
		height: 300px;
	}
}

.hero-copy {
	padding: 150px 0 150px 0;

	h1 {
		color: $white;
		font-size: 5.625em;
		font-weight: 300;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 18px;

	@media #{$brk-small} {
		font-size: 3em;
		line-height: 300px;
	}

	}

	@media #{$brk-small} {
		padding: 0px;
	}
}