// Navbar Logo

.navbar-brand {

	h1 {
		font-size: 1.0625em;
		font-weight: 700;
		color: $lighter-blue;
		float: right;
		margin: 15px 0 0 15px;

		@media #{$brk-small} {
			font-size: .7em;
			margin: 20px 0 0 6px;
		}
	}

	svg {
		width: 50px;
		height: 50px;
		float: left;
	}

}

// navbar

.navbar {
	text-transform: uppercase;
	position: absolute;
}

.navbar-default {
	// background-color: $nav-blue;
	// border-color: $nav-blue;
	background-color: transparent;
	border-color: transparent;
}

.navbar-default .navbar-brand {
	color: $orange;
	font-size: 1.125em;
	font-weight: bold;
	padding-left: 25px;
}

#menu-main {
	padding-right: 25px;

	@media #{$brk-narrow} {
		padding-right: 0px;
	}
}

 .navbar-default .navbar-brand:hover {
 	color: $white;
 }

.navbar-default .navbar-nav > li > a {
	color: $white;
}

.menu-main-container {
	font-size: 0.75em;
	font-weight: bold;
}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav > .active > a:hover {
	color: $orange;
}

// Dropdown Menu

.navbar-nav > li > .dropdown-menu {
	background-color: rgba(255,255,255,.7);
	border-radius: 0px;
}

.dropdown-menu > li > a:hover {
	background-color: transparent;
	color: $orange;
}

.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
	background-color: transparent;
	color: $orange;
}

.dropdown-menu > .active > a {
	background-color: transparent;
	color: $blue;
}


// Hero background images and copy

.home-hero {
	background: $blue;
	height: 830px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;

	@media #{$brk-600} {
		height: 100%;
	}

	.hero-copy {
		font-family: 'BenchNine', sans-serif;
		text-align: center;
		padding: 255px 0 150px 0;
		max-width: 1100px;

		h1 {
			color: $light-blue;
			font-size: 12.1875em;
			line-height: .8;
			text-transform: uppercase;
			// letter-spacing: 18px;

			@media #{$brk-600} {
				font-size: 6.25em;
			}
		}

		h2 {
			color: $lighter-blue;
			font-size: 4.5em;

			@media #{$brk-600} {
				font-size: 2.5em;
			}
		}

		}

}

.hero-header {
	background-size: cover;
	background-position: 0px -200px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 450px;

	@media #{$brk-small} {
		height: 300px;
	}
}

.store-header {
	background-image: url('../images/default-hero.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 200px;
}

.default-header {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 200px;
}
//
// 	@media #{$brk-small} {
// 		padding: 0px;
// 	}
// }
