.btn-primary.active {
	background-color: $white;
	color: $light-blue;
	border-color: $light-blue;
	border-radius: 0;
	box-shadow: none;
	-webkit-transition: ease-out 200ms;
	-moz-transition: ease-out 200ms;
	-o-transition: ease-out 200ms;
	transition: ease-out 200ms;

	&:hover {
		background-color: $lighter-blue;
		color: $white;
		border-color: $light-blue;
		text-decoration: none;
		-webkit-transition: ease-out 200ms;
		-moz-transition: ease-out 200ms;
		-o-transition: ease-out 200ms;
		transition: ease-out 200ms;
	}
}

.button-wrap {
  margin: 0 auto;
  width: 160px;
  margin-bottom: 50px;
  box-shadow: none;
}

.fa-play:before,
.fa-pause:before {
	color: $orange;
}