// orange headings

h2 {
	font-size: 3.125em;
	font-weight: 300;
	// letter-spacing: 5px;
	color: $light-grey;
}

// contact form sub heading

h3 {
	font-size: 1.875em;
	color: $grey;
}

// Quote

h4 {
	font-size: 1.875em;
	color: $grey;
}

h5 {
	font-size: 1.5625em;
	color: $grey;
}

// body copy

p {
	font-size: 1.25em;
	color: $grey;
}
