// Home Page

.intro-copy {
	text-align: center;

	&-wrap {
		max-width: 800px;
		margin: 0 auto;
		padding-bottom: 50px;
	}

}

.news {
	height: 450px;
	background-color: $secondary-grey;
}

// Music Page

.scroll-target {
	padding-top: 30px;
	visibility: hidden;
}

.music {
	padding: 0 0 60px 0;
	background-color: $secondary-grey;

	a {
		color: $orange;
		text-decoration: none;
		text-transform: uppercase
	}

	a:hover {
		color: $blue;
	}

	img {
		padding-top: 10px;
	}
}

.music-white {
	background-color: $white;
}

.mp3Player a {
	padding-right: 10px;
}

.lyrics {
	display: none;
	padding: 20px;

	h2 {
		font-size: 1.5625em;
	}
}

.white {
	background-color: $white;
}

.grey {
	background-color: $secondary-grey;
}

// About Page

.quote {
	padding: 50px 0 0 0;
	color: $orange;

	p {
		font-size: 1.5625em;
	}
}

.quote-wrap {
	font-size: 4em;
	width: 7%;
	float: left;
}

.quote-copy {
	padding: 0px 45px 35px 45px;

	h4 {
		line-height: 38px;
	}
}

.tag-line {
	padding: 25px 0 25px 0;
}

figcaption {
	color: $orange;
	text-align: center;
	padding: 20px 0 10px 0;
}

.about-first-copy,
.about-second-copy {

	p {
		margin-bottom: 30px;	
	}
	
}

// Media Page

.photo-wrap {
	margin: 0 auto;
	max-width: 320px;
}

.photo-row {
	padding-bottom: 20px;
}

// Contact Page

.subhead p {
	text-align: center;
	padding-bottom: 40px;
}

// Contact Form 7

input, select, textarea {
	width: 100%;
	background-color: #F1F2F2;
	border: 0px;
}

.wpcf7 p {
	text-align: center;
	font-size: 1.5625em;
	color: $orange;
}

input[type="text"],
input[type="email"] {
	min-height: 78px;
}

input[type="submit"] {
	width: 158px;
	height: 44px;
	border: 1px solid $orange;
	background-color: transparent;
	font-size: 1.125rem;

	&:hover {
		-webkit-transition: ease-out 200ms;
	    -moz-transition: ease-out 200ms;
	    -o-transition: ease-out 200ms;
	    transition: ease-out 200ms;
		background-color: $grey;
		color: $white;
	}
}