// Home Page

.intro-copy {
	text-align: center;

	&-wrap {
		max-width: 800px;
		margin: 0 auto;
		padding-bottom: 50px;
	}

}

.news {
	height: 450px;
	background-color: $secondary-grey;
}

// Music Page

.lyrics {
	display: none;
}


// About Page

.quote {
	padding: 50px 0 0 0;
	color: $orange;

	p {
		font-size: 1.5625em;
	}
}

.quote-wrap {
	font-size: 4em;
	width: 7%;
	float: left;
}

.quote-copy {
	width: 93%;
	float: left;

	h4 {
		line-height: 38px;
	}
}

.tag-line {
	padding: 25px 0 25px 0;
}