.hero-header {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 450px;
}

.hero-copy {
	padding: 150px 0 150px 0;

	h1 {
		color: $white;
		font-size: 5.625em;
		font-weight: 300;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 18px;
	}
}