html {
	font-size: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1em;
}

hr.grey {
	border-top: 1px solid $light-grey;
	margin-top: 10px;
	margin-bottom: 10px;
}

// hr.grey {
// 	border-top: 1px solid $music-grey;
// 	margin: 10px 0 10px 0;
// }

// orange underline for h2 tags

.underline-wrap {
	text-align: center;
	// padding-top: 35px;

	h2 {
		font-size: 3.125em;
		color: $light-grey;
		margin-top: 0;
	}

	.line {
		hr {
			margin: 0px;
			border: 0;
			border-top: 4px solid $light-grey;
		}
	}

}

.line {
	max-width: 90px;
	margin: 0 auto;
	// padding-bottom: 40px;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}
